.chat-main
  .header
    .chat-main__group-info
      .group-name
        テスト
        .user-name
          Member:name
      .edit
        = link_to '#' do
          Edit
        
  .chat-main__message
    .messages
      .upper-message
        .name
          へい
        .date
          2020/8/33
      .lower-message
        おはよう！
      .upper-message2
        .name2
          せい
        .date2
          2020/8/1
      .lower-message2
        morning
      .upper-message3
        .name3
          れい
        .date3
          2020/8/1
      .lower-message3
        ola!
      .upper-message4
        .name4
          iwan
        .date4
          2020/5/31
      .lower-message4
        hi!

  .chat-main__message-form
    .form
      .text-form
        .text-message
          type a message
          .photo-icon
          %label{class: "input-box__image"}
            = icon('far', 'image',class: 'icon3')
            %input{type: "file",class:'Hidden'}
      .submit
        Send