.side-bar
  .header
    .header__user-name
      .name
        test
      .icons
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon2')

  .side-bar__group-list
    .group
      test1
      .message
        テスト1
    .group2
      test2
      .message2
        テスト2
